body {
    padding: 20px;
}
#tarea {
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
}
#tarea:focus {
    border-color: #4CAF50;
}
#anyadir {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}
#lista {
    margin-top: 20px;
}
#lista li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px 1px black;
}
#lista button {
    padding: 6px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}
