body {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;    
  height: 100vh;
  gap: 20px; 
}

table {
  width: 250px;
  min-height: 250px;
  border: 1px solid black;
  text-align: center;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

input {
  width: 120px;
  text-align: center;
}

#teclado {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  margin-top: 20px;
}

#teclado button {
  width: 35px;
  height: 35px;
  margin: 2px;
  border-radius: 4px;
  color: white;
  background-color: grey; 
}
